body {
  font-family: "Noto Serif SC", serif;
  background-color: #f1f2f6;
}

header, section, footer {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  list-style-type: none;
}

header ul li {
  margin-left: 20px;
}

#profile {
  border-radius: 50%;
  float: right;
  margin: 12px 0 24px 24px;
  width: 240px;
}

figure {
  margin: 24px auto;
  max-width: 75%;
}

img {
  display: block;
  width: 100%;
}

figcaption {
  color: #666;
  font-size: 13px;
  font-style: italic;
  margin-top: 8px;
  text-align: center;
}

a {
  color: #b53471;
  text-decoration: none;
  transition: 0.25s ease color;
}

a:hover {
  color: #6f1e51;
}

footer {
  margin-top: 48px;
}

footer ul {
  display: table;
  margin: 0 auto;
  list-style-type: none;
}

footer ul li {
  display: inline-block;
  font-size: 14px;
  margin: 0 8px;
}

footer ul li a {
  color: #666;
  text-decoration: none;
  transition: 0.25s ease all;
}

footer ul li a:hover {
  color: #333;
}
